.video-block {
  position: relative;
  overflow: hidden;
  height: 372px;
  max-width: 550px;

  &__video {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 20px;
    background-color: rgba(30, 33, 44, 0.6);
    transition: all 0.3s;
  }

  &--played {
    &::before {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__play {
    position: absolute;
    left: 43%;
    top: 41%;
    z-index: 3;

    svg {
      width: 70px;
      height: 70px;
    }

    &--played {
      opacity: 0;
      visibility: hidden;
    }
  }

  @include mid-desktop {
    margin: 0 auto;
    height: 350px;
    max-width: 100%;
  }
}
