<section class="business">
  <div class="container">
    <div class="business__inner">
      <div class="business__info">
        <h2 class="business__title" data-aos="zoom-in-right" data-aos-duration="2000">How can we help your Business ?</h2>
        <p class="business__description" data-aos="zoom-in-right" data-aos-duration="3000">We build readymade websites, mobile applications, and elaborate online business
          services.</p>
      </div>
      <ul class="list-reset business__cards">
        <li class="business-card business__card" data-aos="fade-up" data-aos-duration="2000">
          <div class="business-card__item">
            <h3 class="business-card__title">Business Idea Planning</h3>
            <p class="business-card__description">We present you a proposal and discuss niffty-gritty like</p>
          </div>
        </li>
        <li class="business-card business__card" data-aos="fade-up" data-aos-duration="2000">
          <div class="business-card__item">
            <h3 class="business-card__title">Financial <br> Planning System</h3>
            <p class="business-card__description">Protocols apart from aengage models, pricing billing</p>
          </div>
        </li>
        <li class="business-card business__card" data-aos="fade-up" data-aos-duration="2000">
          <div class="business-card__item">
            <h3 class="business-card__title">Development Website and App</h3>
            <p class="business-card__description">Communication protocols apart from engagement models</p>
          </div>
        </li>
        <li class="business-card business__card" data-aos="fade-up" data-aos-duration="2000">
          <div class="business-card__item">
            <h3 class="business-card__title">Market Analysis Project</h3>
            <p class="business-card__description">Protocols apart from aengage models, pricing billing</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
