<section class="client">
  <div class="container client__container">
    <div class="client__info">
      <h2 class="client__title" data-aos="fade-up" data-aos-duration="2000">Our Client</h2>
      <p class="client__description" data-aos="fade-up" data-aos-duration="2000">Several selected clients, who already believe in our service.</p>
    </div>
    <ul class="list-reset client__list" data-aos="fade-up" data-aos-duration="3000">
      <li class="client__item"><img src="img/client-1.svg" alt="Google" class="client__img"></li>
      <li class="client__item"><img src="img/client-2.svg" alt="Arb" class="client__img"></li>
      <li class="client__item"><img src="img/client-3.svg" alt="Uber" class="client__img"></li>
      <li class="client__item"><img src="img/client-4.svg" alt="Amazon" class="client__img"></li>
    </ul>
  </div>
</section>
