<section class="digital">
  <div class="container">
    <div class="digital__inner">
      <div class="video-block" data-aos="fade-right" data-aos-duration="2000">
        <button class="btn-reset video-block__play">
          <svg>
            <use xlink:href="img/sprite.svg#play"></use>
          </svg>
        </button>
        <video class="video-block__video" src="digital.mp4" muted loop preload="metadata"></video>
      </div>
      <div class="digital__info" data-aos="fade-left" data-aos-duration="2000">
        <h2 class="digital__title">Great Digital Product Agency since 2016</h2>
        <p class="digital__description">
          Our Business Plan is a written document describing a company's core
          business activites, Objectives, and how it plans to achieve its goals.
          Our goal is to provide our client high quality Product with modern
          idea accordingly their budgets and according thir reuirements.
        </p>
      </div>
    </div>
  </div>
</section>
