<footer class="footer">
  <div class="container footer__container">
    <div class="footer__inner">
      <div class="footer__info">
        <img src="img/logo.svg" alt="logo" class="footer__logo">
        <div class="footer__description">Leading digital agency with solid design and development expertise. We build
          readymade websites, mobile applications, and elaborate online business services.</div>
        <ul class="list-reset social footer__social">
          <li class="social__item"><a href="#" target="_blank" class="social__link">
              <img src="img/facebook.svg" alt=""></a></li>
          <li class="social__item"><a href="#" target="_blank" class="social__link">
              <img src="img/twitter.svg" alt=""></a></li>
          <li class="social__item"><a href="#" target="_blank" class="social__link">
              <img src="img/linkedin.svg" alt=""></a></li>
        </ul>
      </div>
      <div class="footer__lists">
        <ul class="list-reset footer__list">
          <li class="footer__title">What We Do</li>
          <li class="footer__item"><a href="#" class="footer__link">Web Design</a></li>
          <li class="footer__item"><a href="#" class="footer__link">
              App Design</a></li>
          <li class="footer__item"><a href="#" class="footer__link">
              Social Media Manage</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Market Analysis Project</a></li>
        </ul>
        <ul class="list-reset footer__list">
          <li class="footer__title">Company</li>
          <li class="footer__item"><a href="#" class="footer__link">About Us</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Career</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Become Investor
            </a></li>
        </ul>
        <ul class="list-reset footer__list">
          <li class="footer__title">Support</li>
          <li class="footer__item"><a href="#" class="footer__link">FAQ</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Policy</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Business</a></li>
        </ul>
        <ul class="list-reset footer__list">
          <li class="footer__title">Contact</li>
          <li class="footer__item"><a href="#" class="footer__link">
WhatsApp</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Support 24</a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</footer>


