<header class="header">
  <div class="container header__container">
    <a class="logo header__logo">
     <img src="img/logo.svg" alt="logo" >
    </a>
    <nav class="menu header__nav" data-menu >
      <ul class="list-reset menu__list">
        <li class="menu__item"><a href="#" class="menu__link">Home</a></li>
        <li class="menu__item"><a href="#" class="menu__link">What We Do</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Service</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Project</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Blog</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Contact</a></li>
      </ul>
    </nav>
    <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
  </div>
</header>
