<section class="hero">
  <div class="container">
    <h1 class="title hero__title" data-aos="fade-right" data-aos-duration="2000">A Digital Product Agency</h1>
    <p class="description hero__description" data-aos="fade-right" data-aos-duration="3000">
      Leading digital agency with solid design and development expertise. We
      build readymade websites, mobile applications, and elaborate online
      business services.
    </p>
    <a href="#" class="btn hero__btn" data-aos="zoom-in">Contact Now</a>
  </div>
</section>
