<section class="reviews">
  <div class="container">
    <h2 class="reviews__title" data-aos="fade-zoom-in" data-aos-duration="2000">What our
      happy client say</h2>
    <p class="reviews__description" data-aos="fade-zoom-in" data-aos-duration="2000">
      Several selected clients, who already believe in our service.</p>
    <div class="reviews__inner">
      <div class="swiper reviews-slider" data-aos="fade-right" data-aos-duration="3000">
        <div class="swiper-wrapper reviews-slider__wrapper">
          <div class="swiper-slide reviews-slider__slide">
            <img src="img/reviews-1.jpg" alt="review" class="reviews-slider__img" />
            <div class="reviews-slider__info">
              <h3 class="reviews-slider__title">Matthew Paul</h3>
              <p class="reviews-slider__text">Perfect, very good job! Thank you for the amazing design and work. Really
                impressed with the high quality and quick turnaround time. Highly recommend.</p>
            </div>
          </div>
          <div class="swiper-slide reviews-slider__slide">
            <img src="img/reviews-1.jpg" alt="review" class="reviews-slider__img" />
            <div class="reviews-slider__info">
              <h3 class="reviews-slider__title">Matthew Paul</h3>
              <p class="reviews-slider__text">Perfect, very good job! Thank you for the amazing design and work. Really
                impressed with the high quality and quick turnaround time. Highly recommend.</p>
            </div>
          </div>
          <div class="swiper-slide reviews-slider__slide">
            <img src="img/reviews-1.jpg" alt="review" class="reviews-slider__img" />
            <div class="reviews-slider__info">
              <h3 class="reviews-slider__title">Matthew Paul</h3>
              <p class="reviews-slider__text">Perfect, very good job! Thank you for the amazing design and work. Really
                impressed with the high quality and quick turnaround time. Highly recommend.</p>
            </div>
          </div>
          <div class="swiper-slide reviews-slider__slide">
            <img src="img/reviews-1.jpg" alt="review" class="reviews-slider__img" />
            <div class="reviews-slider__info">
              <h3 class="reviews-slider__title">Matthew Paul</h3>
              <p class="reviews-slider__text">Perfect, very good job! Thank you for the amazing design and work. Really
                impressed with the high quality and quick turnaround time. Highly recommend.</p>
            </div>
          </div>
          <div class="swiper-slide reviews-slider__slide">
            <img src="img/reviews-1.jpg" alt="review" class="reviews-slider__img" />
            <div class="reviews-slider__info">
              <h3 class="reviews-slider__title">Matthew Paul</h3>
              <p class="reviews-slider__text">Perfect, very good job! Thank you for the amazing design and work. Really
                impressed with the high quality and quick turnaround time. Highly recommend.</p>
            </div>
          </div>
        </div>
        <div class="swiper-pagination reviews-slider__pagination"></div>
      </div>
      <div class="reviews__img" data-aos="fade-left" data-aos-duration="3000">
        <img src="../img/clients.jpg" alt="reviews" class="reviews__img" />
      </div>
    </div>
  </div>
</section>
