// Ограничение макета
$wrapper-max: 1440px !default;
$wrapper-min: 280px !default;

// Контейнер
$container-max-widths: 1230px;
$container-padding: 15px;

// Шрифт
$font-family-base: "Averto", sans-serif;
$font-size-base: 1.6rem;
$line-height-base: 1.75;
$font-weight-base: 400;
$font-style-base: normal;

// Цвета
$color-bg-base: #fff;
$color-text-base: #61594d;
